<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/properties/database.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="hikariDataConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="dataSourceClassName" value="${dataSourceClassName}"></property>
		<property name="jdbcUrl" value="${dataSource.jdbcUrl}"></property>
		<property name="username" value="${dataSource.username}"></property>
		<property name="password" value="${dataSource.password}"></property>
		<property name="connectionTimeout" value="${dataSource.connectionTimeout}"></property>
	</bean>
	
	<bean id="xa12DataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
		<constructor-arg type="com.zaxxer.hikari.HikariConfig" ref="hikariDataConfig"></constructor-arg>
	</bean>	
</beans>